<div class="wrap-home">
  <%= render "shared/navbar" %>
  <div class="image-container">
    <div class="header">
    </div>
    <div class="search-bar-container">
      <form action="/search" method="get">
        <input type="text" name="query" placeholder="where do i want my multipla..." required>
        <%= link_to cars_path do %>
        <div class="search-icon"></div>
        <% end %>
      </form>

      <div class="calendar-container">
        <div class="calendar-wrapper">
          <label for="start_date">Start</label>
          <input type="date" id="start_date" name="start_date" required>
        </div>
        <div class="calendar-wrapper">
          <label for="end_date">End</label>
              <input type="date" id="end_date" name="end_date" required>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>
