.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 20px;
  font-size: 60px;
  color: aliceblue;
}
