// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "home";

.map-info-window {
  padding: 10px;
  max-width: 200px;

  h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 5px;
  }

  img {
    margin-top: 5px;
    border-radius: 4px;
  }
}

// Styles pour les markers Mapbox
.mapboxgl-popup {
  max-width: 250px !important;
}

.mapboxgl-popup-content {
  padding: 15px !important;
  border-radius: 8px !important;
}


// style pour le bouton "add a new car"
.add-car {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.btn-custom {
  background: linear-gradient(135deg, #d079d0, #5b9494, #000000);
  color: white;
  border-radius: 8px;
  font-size: 1.4rem;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
  background: linear-gradient(135deg, #5fa3a3, #6c3c6c, #000000);
  transform: scale(1.1);
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.9);
}

.btn-custom:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}
