/* Conteneur principal avec l'image de fond */
.image-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.wrap-home {
  background-image: url('Image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size:54px;
  font-weight: bold;
  z-index: 2;
}

.search-bar-container {
  width: 40%;
  display: center;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.319);
  padding: 15px;
  border-radius: 10px;
}

.search-bar-container form {
  width: 100%;
  display: flex;
  align-items: center;
  position: center;
}

.search-bar-container input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.search-icon {
  width: 40px;
  height: 40px;
  background-image: url('icone.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-wrapper label {
  font-size: 16px;
  font-weight: bold;
  color: black;
}


.calendar-wrapper input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
