<p><strong>Description :</strong> <%= @car.desc %></p>
<%= link_to "Retour à la liste des voitures", cars_path, class: "btn btn-secondary mt-2" %>
<%= link_to "Louer la", new_rental_path(car_id: @car.id), class: "btn btn-primary" %>
