<p><strong>Description :</strong> <%= @car.desc %></p>
<%= button_to "Louer cette voiture", car_path(@car), method: :post, class: "btn btn-primary" %>
<%= link_to "Retour à la liste des voitures", cars_path, class: "btn btn-secondary mt-2" %>
